@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}


body{
    background-color: #28b3a9;
}

header{
    display: flex;
}

.izquierda{
    width: 60%;
}

img{
    width: 100px;
}

.derecha a{
    color: #ddfaf8;
    text-decoration: none;
    padding: 5px 25px;
    margin: 0 5px;
    background-color: #345351;
    border-radius: 20px;
    line-height: 100px;
}

.derecha a:hover{
    text-decoration: underline;
}

hr{
    margin-bottom: 20px;
}

.abajo{
    color: #ddfaf8;
    width: 450px;
    border-radius: 20px;
    background-color: #345351;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

h1{
    font-size: 100px;
    margin: 0;
}

p{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

input{
    font-size: 30px;
    border: none;
    color: #28b3a9;
    background-color: #ddfaf8;
    width: 200px;
}

input:hover{
    text-decoration: underline;
}
